# 忽略node_modules目录
node_modules/

# 忽略npm和yarn的日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 忽略IDE配置文件
.idea/
.vscode/
out/

# 忽略系统文件
.DS_Store
Thumbs.db

# 忽略临时文件
*.log
*.tmp
*.swp
# 忽略target目录，Spring Boot项目编译后的文件存放在这里
/target/

# 忽略IDE配置文件


# 忽略Maven和Gradle的日志文件
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.previous
pom.xml.original
pom.xml.versionsBackup
build/

# 忽略系统文件

